@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="text-left">
        <h1 class="display-1">Circuito Rodeio Primavera Verão</h1>
    </div>

    <div class="mt-5">
        <h2 class="display-4">Bem-vindo ao Mundo do Rodeio: Onde a Tradição Encontra a Adrenalina!</h2>

        <p class="lead">Seja recebido com um caloroso "Howdy!" em nosso site dedicado ao fascinante universo do rodeio. Aqui, celebramos a rica tradição e a emocionante competição que fazem do rodeio uma experiência única e inesquecível. Navegue pelas páginas e mergulhe no coração pulsante desse esporte que cativa corações em todo o mundo.</p>
    </div>

    <div class="mt-5">
        <h2 class="display-4">Descubra a Emoção nas Arenas</h2>

        <p class="lead">Explore galerias de fotos que capturam momentos intensos de cavalgadas selvagens, montarias desafiadoras e a habilidade incrível dos cowboys e cowgirls. Cada imagem conta uma história de coragem, destemor e paixão pelo rodeio.</p>

        <img src="~/images/peao.jpg" alt="Montaria" height="500px />

    </div>

    <div class="mt-5">
        <h2 class="display-4">Conheça os Heróis das Arenas</h2>

        <p class="lead">Saiba mais sobre os astros do rodeio, os cowboys e cowgirls que desafiam os limites do possível a cada montaria. Conheça suas histórias inspiradoras, suas conquistas notáveis e o espírito intrépido que os torna verdadeiros ícones do rodeio.</p>

        <img src="~/images/peaofoto.jpg" alt="Peão" height="500px" />

    </div>


    <div class="mt-5">
        <h2 class="display-4">Siga-nos nas Redes Sociais</h2>

        <p class="lead">Não fique de fora das últimas notícias, atualizações e momentos emocionantes do mundo do rodeio. Conecte-se conosco nas redes sociais para participar de discussões, ver conteúdo exclusivo e fazer parte de uma comunidade apaixonada.</p>

    </div>

    <div class="mt-5">
        <h2 class="display-4">Seja Parte da História</h2>

        <p class="lead">Explore, participe e celebre a energia única do rodeio conosco. Este é mais que um esporte; é uma tradição que continua a desafiar e inspirar gerações. Bem-vindo ao nosso mundo de poeira, paixão e pura emoção!</p>
    </div>


</div>
